
.App {
  background-color: aqua;
  display: grid;
  justify-items: center;
  align-items: center;
  row-gap: 40px;
}


.app__videos{
  height: 100vh;
  max-height: 800px;
  width: 80%;
  max-width: 500px;
  border: 1px solid black;
  border-radius: 20px;
  overflow: scroll;
}